@import url('https://fonts.googleapis.com/css?family=Martel|Titillium+Web');

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

html {
	background-color: black;
	background-repeat: repeat;
	font-family: "Martel", times, serif;
	line-height: 0.35em;
	font-size: .8em;
}

body {
	background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(0, 13, 25, 0.9667), rgba(0, 25, 50, 0.9333), rgba(0, 12, 25, 0.9)), url(bgContact.gif);
	text-shadow: 0 1px 3px #cceeff26, 0 1px 2px #cceeff5c;
}

div.container {
	position: absolute;
	top: 50%;
	left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	
	background-color: #00000066;
	
	padding: 1em;
	padding-bottom:1.5em;
	
	outline-style: double;
	outline-width: 4px;
	width: 100%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.125), 0 10px 10px rgba(0,0,0,0.11);
	border-color: white;
}

div.innerText {
	width: 35%;
	float: center;
	margin: auto;
}

div.extraText {
	font-size: 0em;
	line-height: 0em;
	transition: all 0.3s cubic-bezier(0.19, 0.02, 0, 1);
}

div.flexcon {
	display: flex;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-size: 2em;
	font-weight: 200;
	line-height: 0em;
	color: #cceeffdd;
	font-family: "Martel", times, serif;
	/*text-align: center;*/
}

p {
	text-align: justify;
	line-height: 1.5em;
	text-indent: 1em;
}

p.desc {
	color: #cceeff8f;
	line-height: 0em;
	text-indent: 0px;
}

h2 {
	font-size: 1.3em;
	font-weight: 300;
	line-height: 0em;
	color: #000000bb;
	font-family: "Martel", times, serif;
	margin-top: 0.6em;
	margin-bottom: 0.4em;
	/*text-align: center;*/
}

sub {
	font-size: .667em;
	font-weight: 800;
	color: #cceeff88;
	text-shadow: 0 1px 2px #cceeff13, 0 0px 1px #cceeff28;
}

hr {
	border-top: 1px solid #cceeff99;
	border-left: none;
	border-right: none;
	border-bottom: none;
	height: 1px;
	width: 102%;
	margin-left: -1%;
}

a {
	background-color: #cceeff11;
	color:  #cceeff;
	line-height:1.5em;
	border-radius:.2em;
	margin-left: -1px;
	padding-left: 2px;
	padding-right: 2px;
	transition: all 0.3s cubic-bezier(0.19, 0.02, 0, 1);
}

a.censor {
	background-color: #cceeff11;
	color:  #cceeff;
	line-height:1.5em;
	border-radius:.2em;
	margin-left: -1px;
	padding-left: 2px;
	padding-right: 2px;
	filter: blur(8px);
	letter-spacing: -0.2em;
	transition: all 1s cubic-bezier(0.19, 0.02, 0, 1);
}

a:hover {
	background-color: #030a0dff;
	line-height:1.75em;
	border-radius:.4em;
	margin-left: -2px;
	padding-left: 4px;
	padding-right: 4px;
	font-weight: 900;
	border-radius:.4em;
	font-size: 110%;
	letter-spacing: .05em;
	filter: blur(0px);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


a.back {
	background-color: #cceeff11;
	text-align: center;
	margin: auto;
	color:  #cceeff;
	line-height:1.5em;
	border-radius:.2em;
	padding-left: 2px;
	padding-right: 2px;
	transition: all 0.3s cubic-bezier(0.19, 0.02, 0, 1);
}

a.back:hover {
	background-color: #030a0dff;
	text-align: center;
	line-height:1.75em;
	border-radius:.4em;
	margin-left: -2px;
	padding-left: 4px;
	padding-right: 4px;
	font-weight: 900;
	border-radius:.4em;
	font-size: 110%;
	letter-spacing: .25em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div.centerThisPlease {
	text-align: center;
	font-size: 0.9em;
}


img#uej{
	max-width:50px;
}

a:hover + div.extraText {
	font-size: .9em;
	line-height: .5em;
}

canvas {
	background-color: transparent;
	clear:none;
}
	